.card {
  width: 400px;
  max-width: 90vw;
  height: auto;
  aspect-ratio: 1/1;
}
article {
  border-radius: 6px;
  width: 100%;
  background: center/cover;
  background-size: cover;
  background-color: #fff;
  height: 100%;
  position: relative;
  overflow: hidden;
  color: #fff;
  padding: 20px;
  cursor: pointer;
  &:hover {
    .text {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .text {
    padding: 30px;
    background-color: #0000009a;
    width: 100%;
    height: auto;
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(70%);

    p {
      display: inline-block;
      width: 100%;
      color: #d5d5d5;
      text-wrap: balance;
      white-space: nowrap;
      font-weight: 500;
      margin-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h2 {
      text-align: center;
      color: rgb(242, 48, 103);
    }
  }

  @media screen and (max-width: 380px) {
    .text {
      padding: 10px;
      h2 {
        font-size: 18px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
