---
// import './global.css'
import Layout from '@layouts/Layout.astro';
import Proyects from '@components/Proyects.astro';
import proyectosArray from '@utils/proyectos';
import headerImg from '@img/header.webp';
---

<Layout title="Arquitectura demo">
  <header>
    <h1>Aquitectura</h1>
    <img src={headerImg.src} alt="header imagen" />
  </header>
  <section class="proyectos">
    {
      proyectosArray
        .slice(0, 2)
        .map((item) => (
          <Proyects
            title={item.titulo}
            description={item.description}
            img={item.img}
          />
        ))
    }
  </section>
</Layout>

<style lang="scss">
  header {
    position: relative;
    height: 450px;
    width: 100%;
    overflow: hidden;

    h1 {
      z-index: 100;
      position: absolute;
      left: 50%;
      bottom: 50%;
      color: #fff;
    }
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
  .proyectos {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  @media screen and (max-width: 580px) {
    .proyectos {
      padding: 0px;
    }
  }
</style>
