<nav>
  <a href="/">inicio</a>
  <a href="/proyectos">Proyectos</a>
</nav>

<style lang="scss">
  nav {
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    box-shadow: 1px -3px 7px #00000075;
  }

  a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    transition: all 0.3s;
    text-transform: capitalize;
    &:hover {
      color: rgb(241, 5, 72);
    }
  }
</style>
