<nav class="fixed bottom-0 left-0 w-full bg-pink-600 py-3 px-4 flex justify-around items-center shadow-lg z-40 md:hidden">
  <a href="#inicio" class="text-white text-sm font-semibold flex flex-col items-center hover:scale-105 transition-transform">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m0 0l-7 7m7-7v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001 1h2a1 1 0 001-1m-6 0v-4a1 1 0 011-1h2a1 1 0 011 1v4m-6 0h6" />
    </svg>
    Inicio
  </a>
  <a href="#acerca_de" class="text-white text-sm font-semibold flex flex-col items-center hover:scale-105 transition-transform">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    Acerca de
  </a>
  <a href="#equipo" class="text-white text-sm font-semibold flex flex-col items-center hover:scale-105 transition-transform">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M17 20h2a2 2 0 002-2V8a2 2 0 00-2-2h-2M14 10h-4m0 0l4-4m-4 4l4 4m3 0v7a1 1 0 01-1 1H6a1 1 0 01-1-1V7a1 1 0 011-1h4" />
    </svg>
    Equipo
  </a>
  <a href="#contacto" class="text-white text-sm font-semibold flex flex-col items-center hover:scale-105 transition-transform">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8m-2 4v7a2 2 0 01-2 2H7a2 2 0 01-2-2v-7" />
    </svg>
    Contacto
  </a>
</nav>

<style lang="scss">
  /* Mantener estilos SCSS existentes si no se refactorizan a Tailwind */
  /* nav {
    position: fixed;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    grid-area: 30px;
    justify-content: center;
    background: #ffd088;
    bottom: 0;
    left: 0;
    width: 100vw;

    a {
      color: #000;
      text-decoration: none;
      margin: 0 10px;
      transition: scale 0.3s;
      padding: 5px;
      border-radius: 3px;
      font-weight: 600;
      &:hover {
        scale: 1.08;
        background: #fff;
        color: rgb(241, 5, 72);
      }
    }
  } */
</style>