<footer id="contacto">
  <p>Número de teléfono: <strong>(123) 456-7890</strong></p>
  <p>Correo electrónico: <strong>info@example.com</strong></p>
  <p>Ubicación: <strong>123 Calle Principal, Ciudad</strong></p>
</footer>

<style lang="scss">
  footer {
    background: #ffd088;
    color: #000;
    padding: 20px;
    padding-bottom: 45px;
    text-align: center;

    p {
      margin: 10px 0;
    }
  }
</style>
