---
import Layout from '@layouts/Layout.astro';
import ListProyects from '@components/ListProyects';
---

<Layout title="proyectos">
  <header>
    <h1>Proyectos</h1>
    <span>Estos son nuestros proyectos</span>
  </header>
  <section>
    <ListProyects client:load />
  </section>
</Layout>

<style lang="scss">
  header {
    padding: 0 20px;

    h1 {
      color: rgb(241, 5, 72);
    }
  }
  section {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }
</style>
