---
import Layout from '@layouts/Layout.astro';
import ListProyects from '@components/ListProyects/ListProyects';
export const prerender = false;

const descripcion: string = `Bienvenido a la galería de proyectos, donde la visión arquitectónica se encuentra con la innovación y la funcionalidad. Nos enorgullece presentar una selección de nuestros proyectos más destacados que reflejan nuestra dedicación a la excelencia en el diseño arquitectónico.

Cada proyecto que emprendemos es una manifestación de creatividad y experiencia, fusionando estilos contemporáneos con soluciones inteligentes y sostenibles. Entendemos que cada edificio tiene una historia que contar y cada espacio debe ser una expresión única de su propósito.

Explora nuestra cartera diversa, que abarca desde elegantes residencias hasta espacios comerciales vanguardistas. Cada obra maestra arquitectónica que creamos es el resultado de una colaboración estrecha con nuestros clientes, donde sus sueños y necesidades se traducen en estructuras que superan las expectativas.

Nos esforzamos por incorporar las últimas tendencias en diseño arquitectónico, al tiempo que mantenemos un compromiso inquebrantable con la funcionalidad y la sostenibilidad. No solo construimos edificios; creamos experiencias que inspiran y perduran en el tiempo.

Únete a nosotros en un viaje a través de la creatividad, la innovación y la dedicación a la excelencia. Estos son nuestros proyectos, y cada uno cuenta una historia única en el lenguaje atemporal de la arquitectura.

Descubre cómo transformamos sueños en realidad, construyendo el futuro con cada proyecto que emprendemos.`;
---

<Layout title="proyectos">
  <header>
    <h1>Galeria de Proyectos</h1>
    <p>{descripcion}</p>
  </header>
  <section>
    <ListProyects client:load slice={false} />
  </section>
</Layout>

<style lang="scss">
  header {
    padding: 0 20px;

    h1 {
      color: rgb(241, 5, 72);
      font-size: 35px;
    }

    p {
      font-size: 18px;
      font-weight: 500;
      white-space: pre;
      text-wrap: balance;
      max-width: 70ch;
    }
  }
  section {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }
</style>
